// Root Colors
:root {
  // Colors
  ---color-Background: #333;
}
// Page Setup
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Oxanium', 'Monaco', sans-serif;
}
button:disabled{
  opacity: 0.5;
  cursor: not-allowed !important;
}
a {
  color: rgb(0,225,255);
  text-decoration: none;
}
* {
  box-sizing: border-box;
  user-select: none;
}
// Scenes
#app {
  width: 100%;
  height: 100%;
  position: relative;
  & > section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    canvas {
      width: 100%;
      height: 100%;
      max-height: 100%;
      max-width: 100%;
    }
  }
}
// Menu
#Menu, .TextPage {
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow-y: auto;
}
#Menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./assets/cover.svg");
  background-repeat: no-repeat;
  background-size: cover;
  animation: view 30s infinite;
  #navigator {
    display: flex;
    flex-direction: column;
    width: 15rem;
    background: transparent;
    padding: 1rem;
  }
}
#Game {
  background: #000;
}

/*Main interface container*/
#interface {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: solid rgba(0, 225, 255, 0.3) 5px;
}
// Store
.Store {
  height: 120px;
  width: 80%;
  max-width: 800px;
  background: rgb(75,75,75);
  border: solid rgba(0,175,200,0.6) 2px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
  //clip-path: polygon(25px 0%, calc(100% - 25px) 0%, 100% 100%, 0% 100%);
  overflow-x: auto;
  overflow-y: hidden;
}
.up{
  bottom: 120px !important;
}

/*Stats*/
#stats {
  background: rgba(0, 225, 255, 0.4);
  position: absolute;
  right: 0px;
  top: 0px;
  color: #fff;
  text-align: right;
  font-family: "Oxanium", "Monaco", monospace;
  clip-path: polygon(100% 0, 100% 100%, 20px 100%, 0 calc(100% - 20px), 0 0);
  padding: 10px;
  padding-left: 20px;
  font-size: 16px;
  filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.5));
}
#mdc {
  text-align: center;
  margin: 15px 0;
  font-size: 16px;
  font-family: "Oxanium", "Monaco", monospace;
  color: #fff;
}

/*Zoom Buttons*/
#zoom-btns {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
}
#zoomin,
#zoomout,
#speed {
  text-align: center;
  vertical-align: middle;
  padding: 7.5px;
  width: 3rem;
  min-width: max-content;
  aspect-ratio: 1 / 1;
  font-size: 15px;
  color: #fff;
  border: solid #fff 2px;
  border-radius: 50%;
  margin: 5px;
  filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.5));
  background: transparent;
  transition: 0.25s;
  cursor: pointer;
  &:hover {
    background: rgba(255, 255, 255, 0.3);
  }
}
/*Pause Button*/
#pause-button {
  color: #fff;
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 30px;
  padding: 5px;
  border-radius: 5px;
  transition: 0.25s;
}
#pause-button:hover {
  background: rgba(255, 255, 255, 0.25);
  cursor: pointer;
}
/*GameOver*/
#gameover {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 500px;
  padding: 1rem;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: white;
  flex-direction: column;
  h1 {
    font-size: 2.3rem;
    margin: 0;
    color: rgb(200, 200, 200);
  }
  p {
    margin: 0;
    color: rgb(200, 200, 200);
    
  }
  .btns {
    text-align: right;
    margin-top: 25px;
    button {
      font-size: 20px;
      margin-right: 20px;
    }
  }
}


/*Repler messages for waves*/
#message-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  display: none;
}
.message {
  display: flex;
  top: 0;
  left: 0;
  width: 70%;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
  border: none;
  background: rgba(0, 175, 200, 0.5);
  padding: 10px;
  min-width: 200px;
  position: absolute;
  max-width: 400px;
  clip-path: polygon(
    100% 0,
    100% calc(100% - 30px),
    calc(100% - 30px) 100%,
    0 100%,
    0 0
  );
}
#repler-image {
  width: 75px;
  height: 75px;
  border-radius: 5px;
}
#repler-name {
  color: white;
  font-weight: 600;
  font-size: 16px;
  font-family: "Oxanium", "Monaco", monospace;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
#repler-message {
  color: white;
  font-weight: 400;
  font-size: 14px;
  font-family: "Oxanium", "Monaco", monospace;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
#loggedin-indicator{
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  color: white;
  font-size: 18px;
  & > img{
    width: 25px;
    vertical-align: middle;
    height: 25px;
    margin-right: 10px;
  }
  & > span{
    vertical-align: middle;
  }
}

/*Special and Tower buttons*/
#centerbtn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
  display: flex;
}
#centerbtn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
  display: flex;
}
#tower-menu-btn,
#special-attack-btn {
  border: none;
  clip-path: polygon(10% 0, 90% 0, 100% 100%, 0% 100%);
  background: rgba(0, 175, 200, 0.7);
  padding: 5px 10px;
  font-size: 15px;
  min-width: 100px;
  font-family: "Oxanium", "Monaco", monospace;
  transition: 0.25s;
  color: white;
  text-shadow: 0 0 3px rgba(0,0,0,0.5);
}
#tower-menu-btn:hover,
.metalbtn:hover,
#special-attack-btn:hover {
  outline: none;
  cursor: pointer;
  filter: brightness(90%);
}

#pause-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  text-align: center;
  font-family: "Oxanium", "Monaco", "monospace";
}
#title {
  margin: 0;
  color: #fff;
  text-align: center;
  font-size: 80px;
  font-weight: 800;
}
#title-img {
  max-height: 150px;
  margin-bottom: 20px;
  width: 80%;
  max-width: 700px;
}
#login-button{
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
  color: white;
  text-shadow: 0 1px 5px rgba(0,0,0,0.5);
}
#login-modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(180deg, #252d40, #1e2536);
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2);
  padding: 25px;
  border-radius: 15px;
  color: white;
  text-align: center;
  & > h2{
    margin: 0;
    padding: 0;
  }
  & > p{
    padding: 30px 0;
  }
  & > .metalbtn{
    margin: 10px;
  }
}
#login-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}
#login-replit-btn{
  
}

.menu-btn {
  background-image: linear-gradient(
    360deg,
    rgb(180, 180, 180),
    rgb(120, 120, 120)
  );
  color: #fff;
  padding: 1rem;
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0;
  border: solid rgb(140, 140, 140) 2px;
  margin-top: -2px;
  clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
  font-family: "Oxanium", "Monaco", monospace;
  font-weight: 300;
  color: rgb(0, 225, 255);
  transition: 0.25s;
  cursor: pointer;
  &:hover {
    outline: none;
    filter: brightness(90%);
    transform: scale(1.1);
  }
}

.TextPage {
  background-color: #000;
  background-image: url("./assets/misc/hexpattern.svg");
  background-size: 4rem;
  animation: view 120s infinite linear;
  .page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

#HowToPlay, #CreditsScene {
  .metalbtn {
    font-size: 1.2rem;
  }
  .page-container {
    .container {
        background: rgba(172, 172, 172, 0.2);
        border: rgba(255, 255, 255, 0.5) 1px solid;
        padding: 20px;
        border-radius: 8px;
        max-width: 700px;
        margin-top: 20px;
    }
    .header {
      font-size: 40px;
      color: white;
    }
    .container > .info > p{
      color: white;
      font-size: 22px;
    }
    .container > .info >  ul {
      color: white;
      font-size: 22px;
    }
  }
}

// Leaderboard Page
#LeaderBoard {
  overflow: hidden;
  .page-container {
    justify-content: center;
    flex-direction: row;
    height: 100%;
    .left {
      margin-right: 8px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
      .profile {
        background: rgba(172, 172, 172, 0.2);
        border: rgba(255, 255, 255, 0.5) 1px solid;
        padding: 20px;
        border-radius: 8px;
        width: 100%;
        h2 {
          margin-bottom: 0;
        }
        h3 {
          margin: 0;
          font-size: 1rem;
          color: white;
          
        }
        .stats {
          span {
            color: rgb(200, 200, 200);
          }
        }
      }
      .metalbtn {
        font-size: 1.2rem;
      }
    }
    .right {
      margin-left: 8px;
      width: 100%;
      height: 100%;
      .lb {
        background: rgba(172, 172, 172, 0.2);
        border: rgba(255, 255, 255, 0.5) 1px solid;
        padding: 20px;
        border-radius: 8px;
        height: 100%;
        display: flex;
        flex-direction: column;
        
        .lb-container {
          overflow-y:auto;
          height: 100%;
          .row {
            margin-bottom: 5px;
            color: white;
            font-size: 1rem;
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
  }
  .right > .lb > h2, .left > .profile > h2 {
    color: white;
    font-size: 2.2rem;
  }
}
.Hidden {
  display: none !important;
}
// stuff for interface

.close-menu-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}
.item-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 20px 0;
  justify-content: center;
  justify-items: center;
}
.opt-title {
  text-align: center;
  margin-top: 0;
  padding: 0;
  color: #a8e4ff;
  font-family: "Oxanium", "Monaco", monospace;
  font-size: 30px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 1);
}
.hexagon {
  clip-path: polygon(20% 0, 100% 0, 100% 80%, 80% 100%, 0 100%, 0 20%);
}
.metalbtn {
  border: solid rgba(0, 225, 255, 0.4) 2px;
  background-image: linear-gradient(
    360deg,
    rgb(160, 160, 160),
    rgb(120, 120, 120)
  );
  padding: 5px 10px;
  transition: 0.25s;
  color: rgb(0, 225, 255);
  font-family: "Oxanium", "Monaco", monospace;
}
.btn-wrap {
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.5));
}
.opt-row {
  display: inline-block;
  background: rgb(0, 225, 255, 0.3);
  border: solid rgb(0, 255, 255, 0.5) 2px;
  clip-path: polygon(
    0 0,
    calc(100% - 20px) 0%,
    100% 20px,
    100% 100%,
    20px 100%,
    0% calc(100% - 20px)
  );
  width: 150px;
  padding: 15px;
  transition: 0.25s;
}
.opt-row:hover {
  cursor: pointer;
  background: rgb(0, 225, 255, 0.5);
}
.tflex{
  papdding: 0 30px;
  margin: 0 30px;
  display: flex;
}
.opt{
  background: rgba(0,0,0,0.2);
  padding: 5px;
  border-radius: 5px;
  width: 200px;
  min-width: 120px;
  height: 80px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  margin: 10px;
  transition: 0.25s;
  min-width: 100px;
}
.opt:hover{
  background: rgba(0,0,0,0.5);
  cursor:pointer;
}
.opt > img{
  width: 50px;
  height: 50px;
  margin: auto;
}
.tname {
  color: white;
  font-family: "Oxanium", "Monaco", monospace;
  text-align: center;
  width: 100%;
  font-size: 12px;
}
.towerimg {
  max-height: 80%;
  max-width: 100%;
  border-radius: 5px;
  margin: 5px 0;
}
.tprice {
  color: white;
  font-family: "Oxanium", "Monaco", monospace;
  text-align: center;
}
.icon-money{
  width: 15px;
  height: 20px;
  vertical-align: middle;
}
.Invalid {
  background: #ff000055;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: rgb(30, 30, 30);
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 225, 255, 0.5);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 225, 255, 0.75);
}

@keyframes view {
  0% {
    background-position: 0 100%;
  }
  100% {
    background-position: 100% 100%;
  }
}
@media (max-width: 500px) {
  .menu-btn {
    padding: 10px;
    font-size: 15px;
  }
}
@media (max-width: 620px) {
  #LeaderBoard {
    .leaderboard {
      .row {
        width: 85vw;
      }
    }
  }
}

@media (max-width: 600px) {
  #msg {
    top: 50%;
    left: 50%;
    width: calc(100% - 40px);
    transform: translate(-50%, -50%);
    max-width: 400px;
    border: none;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
  }
}
@media (max-width: 400px) {
  .Store{
    clip-path: none;
  }
  #tower-menu-btn,
  #special-attack-btn {
    font-size: 13px;
    min-width: 0;
  }
  #zoom-btns {
    bottom: 5px;
    right: 5px;
  }
  #zoomin,
  #zoomout,
  #speed {
    width: 2rem;
    font-size: 12px;
  }
  #pause-button {
    bottom: 5px;
    left: 5px;
    font-size: 20px;
  }
}

// STARS

@mixin translate50
{
  -webkit-transform: translate(-50, -50%);
  -ms-transform: translate(-50, -50%);
  -o-transform: translate(-50, -50%);
  transform: translate(-50, -50%);
}

@mixin roundedCorners
{
  -webkit-border-radius: 50%; 
  -moz-border-radius: 50%; 
  border-radius: 50%;
}

@mixin rotateBase
{
  -webkit-transform: rotate3d(-1, 1, 0, 0deg);
  -ms-transform: rotate3d(-1, 1, 0, 0deg);
  -o-transform: rotate3d(-1, 1, 0, 0deg);
  transform: rotate3d(-1, 1, 0, 0deg);
}

@mixin rotateRight
{
  -webkit-transform: rotate3d(-1, 1, 0, 30deg);
  -ms-transform: rotate3d(-1, 1, 0, 30deg);
  -o-transform: rotate3d(-1, 1, 0, 30deg);
  transform: rotate3d(-1, 1, 0, 30deg);
}

@mixin rotateLeft
{
  -webkit-transform: rotate3d(-1, 1, 0, -30deg);
  -ms-transform: rotate3d(-1, 1, 0, -30deg);
  -o-transform: rotate3d(-1, 1, 0, -30deg);
  transform: rotate3d(-1, 1, 0, -30deg);
}

// n is number of stars generated
@function generateStars ($n)
{ 
  $value: '#{0} #{random(2000)}px #{random(2000)}px #FFF';

  @for $i from 2 through $n
  {
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';
  }

  @return unquote($value);
}

$stars-small:  generateStars(700);
$stars-medium: generateStars(200);
$stars-big:    generateStars(100);

body
{
  overflow: hidden;
}

.TextPage
{
  height: 200vh;
  width: 200%;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #191F24 100%);
  overflow-x: hidden;
  overflow-y: auto;
  @include translate50;
}

    
#stars
{
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $stars-small;
  animation : animateStars 28.5s ease-in-out infinite;
  @include roundedCorners;

  &::after
  {
    content: " ";
    position: absolute;
    margin: auto;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $stars-small;
    @include roundedCorners;
  }
}
    
#stars2
{
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $stars-medium;
  animation : animateStars 30s ease-in-out infinite;
  @include roundedCorners;
    
  &::after
  {
    content: " ";
    position: absolute;
    margin: auto;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $stars-medium;
    @include roundedCorners;
  }
}
    
#stars3
{
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $stars-big;
  animation : animateStars 31.5s ease-in-out infinite;
  @include roundedCorners;
    
  &:after
  {
    content: " ";
    position: absolute;
    margin: auto;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $stars-big;
    @include roundedCorners;
  }
}

@keyframes animateStars
{
  0%{@include rotateBase;}
  25%{@include rotateRight;}
  50%{@include rotateBase;}
  75%{@include rotateLeft;}
  100%{@include rotateBase;}
}